<html>
  <body>

     <h2>welcome. fill out the form to see your fortune</h2>

     <h4>wat is ur name</h4>
      <form action='/results' method='GET'>
            First name: <input type="text" name="FirstName"><br>
            Last name: <input type="text" name="LastName"><br>


     <h4>pick your favorite animal</h4>

       <input type="radio" name="animal" value="cat"> Cat<br>
       <input type="radio" name="animal" value="dog"> Dog<br>
       <input type="radio" name="animal" value="rex"> Rex<br>
       <input type="radio" name="animal" value="chicken"> Chicken <br> <br>


      <h4> Select your favorite color</h4>

      <input type="color" name="favcolor" value="#ff0000"><br><br>


      <h4>Select one or more items in the list that you'd like</h4>
        <input type="checkbox" name="vehicle1" value="Toyota"> I would like a Toyota<br>
        <input type="checkbox" name="vehicle2" value="Honda"> I would like a Honda<br>
        <input type="checkbox" name="vehicle3" value="BMW"> I would like a BMW<br>
          <br>




     <input type="submit" value="Submit">

      </form>



  </body>
</html>
